<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    {% comment %} to display success error messages {% endcomment %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        {% comment %} to close the alert message {% endcomment %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %} 


    <h3>Welcome to the website</h3>

    {% if user.is_authenticated %}
    <h3>Hello {{fname}}!</h3>
    <h4>You're successfully logged in.</h4>
    <button type="submit"><a href="/signout">SignOut</a></button>
    {% else %}
    <button type="submit"><a href="/signup">Signup</a></button>
    <button type="submit"><a href="/signin">Signin</a></button>
    {% endif %}
</body>

</html>